# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
*.egg-info/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.installed.cfg
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# Environment variables
.env

# Model files
models/

# Output and data folders
data/
pipeline_output/
ImageNotScan/

# Downloaded images
downloads/

venv/